@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

* {
  margin: 0;
  padding: 0;
  /* outline: 1px solid red; */
  font-family: 'Noto Sans', sans-serif;
}

body {
  background-color: #7e7e7e;
}

/* navbar */
.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: stretch;
}

.navbar li {
  float: left;
}

.navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.navbar li a:hover {
  background-color: #111;
}

/*  */

.navlogo {
  font-size: 25px;
}


.title-page {
  margin-top: 2em;
  margin-bottom: 2em;
  display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
	align-content: flex-start;
}

.title-page h1 {
  font-size: 60px;
}

.title-page button {
  margin-top: 2em;
  background-color: yellow;
  border: none;
  color: black;
  font-weight: bold;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  box-shadow: 0 0 5px #302f2f;
  cursor: pointer;
}

.title-page button:hover {
  background-color: bisque;
}

/* post-it */

.block-post-it {
  padding: 1em;
}

.grid-post-it {
  display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: baseline;
	align-content: space-evenly;
}

.post-it {
  width: 300px;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: baseline;
	align-content: space-evenly;
  padding: 1em;
  margin: 1em;
  background-color: yellow;
  box-shadow: 0 0 5px #302f2f;
}

.post-it-title {
  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	align-content: stretch;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 30px;
  box-shadow: 0 0 2px #302f2f;
  background-color: rgb(237, 217, 5);
}

/* connexion */

.connex form {
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.connex label {
  display: block;
  margin-top: 2em;
  font-weight: bold;
}

.connex input {
  width: 90%;
  padding: 10px;
  margin-top: 2em;
  font-weight: bold;
}

.connex input[type="submit"] {
  background-color: #000;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  margin-top: 2em;
}